body {
    font-size: large;
}

.btn {
    font-size: large;
}

.model-buttons {
    font-size: large;
}

.ui-dialogs {
    display: none;
}

footer {
    padding: 40px 20px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.add-button {
    margin-top: -10px;
}

.add-button-wrapper {
    height: 20px;
}